@import "./vendor/bootstrap/scss/bootstrap.scss";

.CampaignItem {
  display: block;
  padding: 1rem;
  color: #000;
  border-bottom: 1px solid #eee;
}

#AccountsUIWrapper {
	background-color: red;
}
