@import "./vendor/bootstrap/scss/bootstrap.scss";

.CampaignItem {
  display: block;
  padding: 1rem;
  color: #000;
  border-bottom: 1px solid #eee;
}

.Header {
  background: #cf8ffc;
  background-image: linear-gradient(to bottom, #dac9ef, #e6deed 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
  color: #000;
}

.Header h1 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
}

body {
  font-family: sans-serif;
  background-color: #cf8ffc;
  background-image: linear-gradient(to bottom, #602c7c, #8f8291 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}


#login-buttons {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}


li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}


@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }
}
