@import "./vendor/bootstrap/scss/bootstrap.scss";

.CampaignItem {
  display: block;
  padding: 1rem;
  color: #000;
  border-bottom: 1px solid #eee;
}
.Header {
  background: #dfcbed;
  background-image: linear-gradient(to bottom, #decbf2, #e7dcef 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

.Header h1 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding:10px;
}

body {
  font-family: sans-serif;
  background-color: #633182;
  background-image: linear-gradient(to bottom, #633182, #898291 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

#render-target {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
}

.sign-in .form-control, label{
  margin-left: 10px;
}
.sign-in .form-control {
  width:80%;
}
